{% extends 'base.html' %}

{% block content %}
    <header class="">
        <h1>Me Esqueci?!</h1>
        <button
            type="button"
            class="add-cat-modal-btn">
            Adicionar Categorias
        </button>

        <button
            type="button"
            class=""
            disabled>
            Adicionar Várias Categorias
        </button>

        <button
            type="button"
            class=""
            disabled>
            Remover Categoria
        </button>

        <button
            type="button"
            class="#remove-all-cat-btn"
            hx-post="{{ url_for('main.remove_all_categories') }}"
            hx-target=".categories-board-section"
            hx-swap="innerHTML"
            >
            Remover Todas Categorias
        </button>
        <hr />
    </header>

    {% set form=form %}
    {% include 'partials/add-categories.html' %}

    <section
        class="categories-board-section"
        hx-post="{{ url_for('main.get_all_categories') }}"
        hx-target="this"
        hx-swap="innerHTML"
        hx-trigger="load from:#save-categories-btn from:#remove-all-cat-btn"
    >
        {% set categories=categories %}
        {% include'partials/categories-board.html' %}
    </section>

{%endblock %}
