{% extends 'base.html' %}

{% block content %}
    <header class="container-fluid text-center">
        <h1>Me Esqueci?!</h1>
        <button type="button" class="btn btn-primary text-nowrap btn-sm">Adicionar Categoria</button>
        <button type="button" class="btn btn-success text-nowrap btn-sm" disabled>Adicionar Várias Categorias</button>
        <button type="button" class="btn btn-danger text-nowrap btn-sm" disabled>Remover Categoria</button>
        <button type="button" class="btn btn-danger text-nowrap btn-sm" disabled>Remover Todas Categorias</button>
        <hr>
    </header>
{% endblock %}
