<div class="modal-background" style="display: none;">
    <div class="modal-dialog" style="display: none;">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Adicione uma ou mais categorias</h1>
                <button
                    type="button"
                    class="modal-hd-close-btn"
                >

                </button>
            </div>
            <div class="modal-body">
                <form
                    class="modal-form"
                    hx-post="{{ url_for('main.add_cat_to_session') }}"
                    hx-target="#categories-list"
                    hx-swap='outerHTML'>

                    {{form.name(placeholder='Nome da Categoria')}}

                    {{ form.hidden_tag() }}

                <input type="submit" value="Adicionar">
            </form>

            <hr>

            <h5>Categorias Adicionadas: </h5>
            <ul id="categories-list">
                <li>Sem categorias ainda</li>
            </ul>
            </div>
            <div class="modal-footer">
            <button
                type="button"
                id="close-modal-ft-btn"
                hx-post="{{ url_for('main.clear_cat_from_session') }}"
                >Close
            </button>
            <button
                type="button"
                id="save-categories-btn"
                hx-post="{{ url_for('main.save_categories_to_database') }}"
                hx-target=".categories-board-section">
            Save changes
        </button>
            </div>
        </div>
    </div>
</div>

{% block script %}
<script>
    const addModalBtn = document.querySelector('.add-cat-modal-btn');
    const modal = document.querySelector('.modal-dialog');
    const modalHdCloseBtn = document.querySelector(".modal-hd-close-btn");
    const closeModalFtBtn = document.querySelector("#close-modal-ft-btn");
    const saveCategoriesBtn = document.querySelector("#save-categories-btn");

    addModalBtn.addEventListener('click', () => {
        const modalBackground = document.querySelector('.modal-background');
        const modalDialog = document.querySelector('.modal-dialog');

        modalBackground.style.display = 'block';
        modalDialog.style.display = 'block';
    })

    modalHdCloseBtn.addEventListener('click', () => {
        const modalBackground = document.querySelector('.modal-background');
        const modalDialog = document.querySelector('.modal-dialog');

        modalBackground.style.display = 'none';
        modalDialog.style.display = 'none';
    })

    saveCategoriesBtn.addEventListener('click', () => {
        const modalForm = modal.querySelector('.modal-form');
        modalForm.reset();

        const catList = document.querySelector("#categories-list");
        catList.innerHTML = ""

        const baseListItem = document.createElement('li');
        baseListItem.innerText = "Não possui caregorias ainda";

        catList.appendChild(baseListItem);

        const modalBackground = document.querySelector('.modal-background');
        const modalDialog = document.querySelector('.modal-dialog');

        modalBackground.style.display = 'none';
        modalDialog.style.display = 'none';
    })

    closeModalFtBtn.addEventListener('click', () => {
        const modalForm = modal.querySelector('.modal-form');
        modalForm.reset();

        const catList = document.querySelector("#categories-list");
        catList.innerHTML = ""

        const baseListItem = document.createElement('li');
        baseListItem.innerText = "Não possui caregorias ainda";

        catList.appendChild(baseListItem);

        const modalBackground = document.querySelector('.modal-background');
        const modalDialog = document.querySelector('.modal-dialog');

        modalBackground.style.display = 'none';
        modalDialog.style.display = 'none';


    })
</script>
{% endblock %}

{% block styles %}
<style>
    .modal-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-dialog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: fit-content;
        background-color: white;
        box-shadow: 1px 1px 5px black;
        border: 1px solid black;
        border-radius: 5px;
        padding: 1rem;
    }

    .modal-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > h1 {
            font-size: 1.5rem;
        }

        > .modal-hd-close-btn {
            background-image: url("../static/img/close.svg");
            background-position: center;
            background-size: cover;
            width: 32px;
            height: 32px;
            margin-left: 1rem;
        }
    }
</style>
{% endblock %}
